<div class="container">
    <div class="row mt-3 mb-3">
        <!-- TAMANHO 4 E TAMANHO 8 DO SITE -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <div class="d-flex justify-content-center">
                    <img src="../../assets/WhatsApp Image 2020-03-28 at 20.44.38 (8).jpeg"
                        class="card-img-top rounded-circle w-75 mt-2" alt="Minha fotuxa">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center text-danger">Amanda Santiago de la Cuesta</h5>

                    <p class="card-text text-center">Estudante de Sistemas e Estagiaria da Airbox, jogadora diferenciada
                        de CS E
                        LOL, tatuagens e animes (DIFERENTE N TEM NADA) Fazendo RECEITAS DE MASCARA FACIAL E DE CABELO
                        E praticando YOGA do youtube para a ansiedade. COFFE IS VIDA!</p>

                    <a href="https://www.linkedin.com/in/amanda-santiago-b29bbb143/"
                        class="btn btn-outline-danger d-flex justify-content-center mb-3" target="_blank"> Por obséquio
                        me add no
                        linkedIN?
                    </a>

                    <a href="https://github.com/amandasantiagu"
                        class="btn btn-outline-danger d-flex justify-content-center" target="_blank"> Me segue no GIT
                        tbm! </a>
                    <hr class="mt-4 mb-4">

                    <h6 class="mb-3 text-monospace text-center"> Pesquisar por titulo</h6>
                    <input type="text" class="form-control mb-3 w-100 text-center text-danger"
                        placeholder="Pesquisar postagem">

                    <button class="btn btn-outline-danger w-100" type="button">Pesquisar</button>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 text-monospace"> Como sobreviver na Quarentena?</h3>

                <div class="form-group">
                    <label for="titulo" class="text-monospace"> QuarenTitulo: </label>
                    <input type="text" name="titulo" id="titulo" class="form-control"
                        placeholder="Digite seu Quarentitulo">
                    <div class="mt-4"></div>
                </div>

                <div class="form-group">
                    <label for="texto"> QuarenTexto:</label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"
                        placeholder="Digite suas experiencias"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger w-25"> PubliCAT</button>

                </div>
            </div>
            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center">Minhau Postagens</h3>
        </div>
    </div>
</div>